/* remove the built in margin and padding using a universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/bush.png"); decided to not use this background*/
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
}

.section-title {
    /* width: 20%; experimenting using width vs flex*/
    padding: 20px 10px;
    font-size: 45px;
    flex: 1 20%;
    text-shadow: 0 0 2px rgb(133, 6, 133);
}

/* HEADER STYLES START */
header {
    /* found a background pattern on the internet <https://www.magicpattern.design/tools/css-backgrounds>
    , copied and pasted the code */
    background-color: #1b50d7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #1b50d7 10px ), repeating-linear-gradient( #107a1f55, #107a1f );
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    text-shadow: 0 0 5px rgb(50, 0, 50);
}  

header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    text-shadow: 0 0 2px rgb(50, 0, 50);
}

header nav ul li {
    padding: 10px 10px;
    font-size: 30px;
}

header nav ul li a:hover {
    color: yellow;
    text-shadow: none;
  }
/* HEADER STYLES END */


/* HERO STYLES START */
.hero {
    display: flex;
    justify-content: space-between;
    height: 300px;
    max-height: 100%;
    background-image:url("../images/pharm-background.jpg");
}

.hero img {
    height: 100%;
}

.subtitle {
    display: flex;
    border: 1px solid black;
    max-height: 20%;
    background-color: rgba(0, 0, 14, .8);
    border-radius: 15px;
    padding: 15px 14px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.subtitle h2 {
    font-size: 2.2vw;
    font-style: italic;
    font-weight: bold;
    color: goldenrod;
}
/* HERO STYLES END */


/* ABOUT ME STYLES START */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-me h2 {
    text-align: right;
}

.me-text {
    flex: 1 80%;
    background-color: rgba(100, 149, 237, .2);
    border-left: 2px solid black;
}

.me-text p {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color:rgba(0, 0, 14, .8);
    padding: 35px 35px;
    font-weight: bold;
    font-style: oblique;
  }
/* ABOUT ME STYLES END */


/* WORK STYLES START */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work h2 {
    text-align: right;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 80%;
    border-left: 2px solid black;
}

.project {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 500px;
    height: 300px;
    border: 5px solid yellow;
    margin: 20px;
    border-radius: 35px;
    padding: 20px;
}

.project-heading {
    padding: 5px 20px;
    height: fit-content;
    border-radius: 5px;
    background-color: rgba(255, 255, 240, .5);
    font-size: medium;
    border: 1px solid black;
}

.project-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;
    color: rgb(50, 0, 50);
}

.project-text h3 {
    font-size: 25px;
    font-weight: bolder;
}

.project-text h4 {
    font-size: 15px;
    font-weight: lighter;
}

.projects a {
    text-decoration: none;
}

/* SPECIFIC PROJECTS STYLES */
#project1 {
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 500px;
}

#project1 h3 {
    font-size: 45px;
}

#project1 h4 {
    font-size: 35px;
}

#project2 {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-position: center;
    background-size: cover;
}

#project3 {
    background-image: url("../images/bush.png");
    background-position: center;
    background-size: cover;
}

#project4 {
    background-image: url("../images/more-leaves-on-green.png");
    background-position: center;
    background-size: cover;
}

#project5 {
    background-image: url("../images/oriental-tiles.png");
    background-position: center;
    background-size: cover; 
}
/* WORK STYLES END & PROJECT STYLES END */


/* CONTACT ME STYLES START */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contact-me h2 {
    text-align: right;
}

.contact-me nav {
    flex: 1 80% ;
    align-self: center;
    flex-wrap: wrap;
    border-left: 2px solid black;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px 10px;
    font-size: 25px;
    list-style: none;
}

.contact-me a {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid darkslategrey;
}

.contact-me nav ul li a:hover {
    color: #6f00ff;
    text-shadow: none;
  }
/* CONTACT ME STYLES END */


/* UTILITY STYLES */
.flexrow-end {
    display: flex;
    align-items: flex-end;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    .section-title{
        font-size: 40px;
    }

    .section-title {
        flex: 1 100%;
    }

    .about-me h2 {
        text-align: center;
    }

    .me-text {
        flex: 1 100%;
        background-color: rgba(100, 149, 237, .2);
        border: 2px solid black;
    }

    .work h2 {
        text-align: center;
    }

    .projects {
        flex: 1 100%;
        border-left: none;
    }
    
    .contact-me h2 {
        text-align: center;
    }

    .contact-me nav {
        border-left: none;
    }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
/* this will be applied on any screen between 768px and 575px */

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
    }

    header nav ul li {
        padding: 10px 30px;
        font-weight: lighter;
        font-size: 30px;
    }

    .hero {
        height: 250px;
    }


    .project {
        width: 440px;
        height: 270px;
    }

    
    #project1 {
        width: 575px;
        height: 425px;
    }

    .contact-me li {
        font-size: 18px;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 576px) {
    header nav ul {
        margin-top: 0px;
    }

    header nav ul li {
        padding: 10px 25px;
        font-size: 20px;
    }

     .project {
        width: 380px;
        height: 240px;
    }

    #project1 {
        width: 425px;
        height: 350px;
    }

    .contact-me li {
        font-size: 15px;
    }
    
    .subtitle {
        margin: 5px;
    }

    .flexrow-end {
        margin-right: 10px;
    }
/* All new stuff added after here */
    .hero {
        height: 200px;
    }


}