/* remove the built in margin and padding using a universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bush.png");
}

/* HEADER STYLES START */
header {
    background-color: #1b50d7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #1b50d7 10px ), repeating-linear-gradient( #107a1f55, #107a1f );
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}  

header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding: 10px 40px;
    font-weight: lighter;
    font-size: 2.0vw;
}
/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    height: 400px;
    max-height: 100%;
}

.hero img {
    height: 400px;
}

.about-me {
    text-align: center;
    border: 3px solid;
    padding: 0 0 5px 5px;
}

.about-me h2 {
    font-size: 55px;
    color: black;
    padding: 20px 100px 20px 100px;
    border-bottom: 3px solid black;
    width: 70%;
    margin: 0 auto;
}

.about-me p {
      margin: 0 auto;
      padding: 20px;
      width: 75%;
      line-height: 1.2;
      font-size: 20px;
      color: black;
      margin-bottom: 20px;
}
/* HERO STYLES END */


/* WORK STYLES START */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work h2 {
    padding: 0 10px;
    font-size: 45px;
    margin: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 15px;
}

.project {
    width: 450px;
    height: 300px;
    border: 5px solid yellow;
    margin: 20px;
    border-radius: 35px;
    padding: 20px;
    font-size: 30px;
}

.project-text h3, h4 {
    display: block;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: rgb(100, 0, 100);
}

.projects a {
    text-decoration: none;
}

#project1 {
    width: 1020px;
    height: 450px;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: contain;
    font-size: 60px;
}

#project2 {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-position: center;
    background-size: contain;
}

#project3 {
    background-image: url("../images/wormz.png");
    background-position: center;
    background-size: contain;
}

#project4 {
    background-image: url("../images/more-leaves-on-green.png");
    background-position: center;
    background-size: contain;
}

#project5 {
    background-image: url("../images/oriental-tiles.png");
    background-position: center;
    background-size: contain;
}
/* WORK STYLES END */


/* CONTACT ME STYLES START */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0 0 0;
    background-color: lightblue;
}

.contact-me h2 {
    padding: 0 10px;
    font-size: 45px;
    margin: 10px;
}

.contact-me nav {
    width: 80%;;
    margin-top: 10px;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px 10px;
    font-size: 25px;
}

.contact-me a {
    text-decoration: none;
    color: black;
}
/* CONTACT ME STYLES END */